@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
        font-family: "Work Sans", sans-serif;
}
/* shared  style  */
.gray{
        color: #131313;
}
.comola{
        color: #FF900E;
}
.comola-bg{
        background-color: #FF900E;
}
.bg{
       background-color: #FFF4E7;
}
.display-flex{
        display: flex;
}
.width{
        max-width: 1050px;
        margin: auto;
        /* border: 1px solid tomato; */
}
main{
        max-width: 1050px;
        margin: 0 auto;
}
.btn{
        background-color: #FF900E;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
}
section{
        margin-top: 40px;
}

/* Navbar style  */
.navbar{
        justify-content: space-between;
        align-items: center;
}
.brand{
        font-size: 3rem;
        font-weight: 800;
}
.nav-item{
        list-style: none;
        margin-right: 30px;
}
.nav-link{
        text-decoration: none;
        /* margin-right: 20px; */
}

/* Banner style  */
.banner-hero{
        max-width: 800px;
        margin: auto;
        text-align: center;
}
.banner-title{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 0;
        padding-bottom: 5px;
        width: 90%;
        margin: 30px auto 0;
}
.banner-description{
        margin-top: 2px;
        margin-bottom: 30px;
        padding-top: 2px;
        font-size: 15px;
        width: 100%;
}
.banner-img img{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
}
/* Team section  */
.team{
        align-items: center;
}
.team-image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
}
.team-image-container img{
        width: 250px;
        height: 250px;
}
img{
        width: 100%;
}
.our-feature{
        max-width: 500px;
        margin-left: 20px;
}
.feature-title{
        font-size: 2.54rem;
}
.quick{
        color: #727272;
}
.feature-description{
        margin:0 0 20px;
}

@media screen and (max-width:576px) {
        .navbar, .nav-links, .team{
                flex-direction: column;
        }
        .team-image-container{
                grid-template-columns: repeat(1, 1fr);
        }
}